body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(50, 69, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
